---
import '../styles/global.css'
import Header from '../components/Header.astro';
import { ClientRouter } from 'astro:transitions';

interface Props {
	title?: string;
	description?: string;
	class?: string;
}

const { title, description, class: className } = Astro.props;
const pageTitle = title ? `${title} - Alan Ye` : 'Alan Ye (@at-wr)';
const pageDescription = description || 'Place where I write, record, and share my thoughts.';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={pageDescription} />


		<meta property="og:type" content="website" />
		<meta property="og:title" content={pageTitle} />
		<meta property="og:description" content={pageDescription} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={pageTitle} />
		<meta name="twitter:description" content={pageDescription} />

		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="dns-prefetch" href="https://fonts.googleapis.com" />
		<link rel="dns-prefetch" href="https://fonts.gstatic.com" />
		<ClientRouter />
		<title>{pageTitle}</title>
	</head>
	<body class={className}>
		<slot name="header">
			<Header />
		</slot>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
